* {
    line-height: 1;
    font-family: Roboto, sans-serif;
}

.account {
    margin: 30px auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    &__menu {
        width: 420px;
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        & a {
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #AAAD89;
            letter-spacing: 1px;
            font-weight: 700;
        }
        & li {
            margin-bottom: 25px;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__profile {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
        padding: 50px;
        gap: 16px;
        //background-color: #d9ded0;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        & h2 {
            padding-bottom: 15px;
            font-size: 20px;
            //font-weight: bold;
            color: black;
            margin-bottom: 20px;
            text-transform: uppercase;
            //border-bottom: 1px solid #a0aec0;
            letter-spacing: 0.13em;
            font-weight: 500;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        gap: 4px;
        & p {
            width: 50%;
            color: #666;
            font-size: 14px;
            line-height: 1.25125em;
            font-weight: 600;
        }
        & span {
            padding-bottom: 16px;
            width: 100%;
            color: #000;
            font-size: 16px;
            border-bottom: 1px solid black;
            letter-spacing: 0.09em;
        }
    }
    &__btn {
        //margin-top: 30px;
        //margin-bottom: 20px;
        //align-self: flex-end;
        //background-color: #00b489;
        //color: #fff;
        //padding: 10px 20px;
        //font-size: 18px;
        //border: none;
        //font-weight: 700;
        //box-shadow: 0 -3px rgb(53,167,110) inset;
        //cursor: pointer;
        background-color: #AAAD89;
        cursor: pointer;
        outline: none;
        color: #fff;
        border-radius: 3px;
        display: inline-flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 14px 25px;
        margin-left: 30px;
        font-weight: 700;
        border: none;
        width: 150px;
        align-self: flex-end;
        margin-top: 25px;
        cursor: pointer;
    }
    &__btn:hover {
        background-color: #6b8d24;
        color: #fff;
    }
}

//Страничка рекомендаций

.advice {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    &__wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
        padding: 50px;
        gap: 16px;
        //background-color: #d9ded0;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    &__heading {
        padding-bottom: 15px;
        font-size: 20px;
        color: black;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 0.13em;
        font-weight: 500;
    }
    & h3 {
        font-size: 20px;
        color: #AAAD89;
        letter-spacing: 0.05em;
    }
    &__text {
        padding-bottom: 3px;
        width: 100%;
        color: #666;
        font-size: 14px;
        letter-spacing: .09em;
        line-height: 1.37em;
    }
    & h4 {
        font-size: 18px;
        font-weight: 500;
        color: black;
        letter-spacing: .09em;
        background-color: #fff;
    }
    &__result {
        font-size: 16px;
        font-weight: 500;
        color: black;
        letter-spacing: .09em;
        background-color: #fff;
        display: flex;
        align-items: flex-end;
    }
    & span {
        font-size: 18px;
        font-weight: 500;
        color: #000;
    }

}
